﻿@model IngredientConverter.DataAccess.Models.Ingredient

@{
    ViewBag.Title = "Ingredient Details";
}

<h2>Ingredient Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Literal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Literal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EqualMassBaseUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EqualMassBaseUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EqualVolumeBaseUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EqualVolumeBaseUnits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
