﻿@model IEnumerable<IngredientConverter.DataAccess.Models.Ingredient>

@{
    ViewBag.Title = "Manage Ingredients";
}

<h2>Manage Ingredients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Literal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EqualMassBaseUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EqualVolumeBaseUnits)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Literal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EqualMassBaseUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EqualVolumeBaseUnits)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
