﻿@model IngredientConverter.DataAccess.Models.Measurement

@{
    ViewBag.Title = "Delete Measurement";
}

<h2>Delete Measurement</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Literal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Literal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeLiteral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseUnitsPerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseUnitsPerUnit)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
