﻿@model IngredientConverter.DataAccess.Models.Measurement

@{
    ViewBag.Title = "Measurement Details";
}

<h2>Measurement Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Literal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Literal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeLiteral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseUnitsPerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseUnitsPerUnit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
