﻿@model IEnumerable<IngredientConverter.DataAccess.Models.Measurement>

@{
    ViewBag.Title = "Manage Measurements";
}

<h2>Manage Measurements</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Literal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitsPerUnit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Literal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeLiteral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitsPerUnit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
