﻿/* Common Components */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-logo {
    width:140px;
    height:75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Converter Styles */
.converter {
    margin-top:25px;
}

.converter > .ingredient {
    padding-bottom: 25px;
}

.converter .k-combobox, 
.converter .k-textbox, 
.converter .k-dropdown  {
    width: 100%;
}

.conversion-separator {
    width:50px;
    height:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .conversion-separator {
        margin-top:14px;
        width:70px;
        height:70px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .conversion-separator {
        margin-top:8px;
        width:80px;
        height:80px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .conversion-separator {
        margin-top:0px;
        width:93px;
        height:93px;
    }
}