﻿<div ng-controller="IngredientConverterCtrl as ingredientConverterCtrl" class="converter jumbotron">
    <div class="row ingredient">
        <div class="col-md-5 col-sm-5">
            <div class="row">
                <select kendo-combo-box
                        ng-model="ingredientConverterCtrl.selectedIngredient"
                        k-placeholder="'Select ingredient'"
                        k-data-text-field="'Literal'"
                        k-data-value-field="'ID'"
                        k-filter="'contains'"
                        k-data-source="::ingredientConverterCtrl.ingredientsDataSource"
                        ng-change="ingredientConverterCtrl.getConversion()"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-5 ingredient-from">
            <div class="row">
                <input type="number" step="any" class="k-textbox" placeholder="Enter quantity" ng-model="ingredientConverterCtrl.fromQuantity" ng-change="ingredientConverterCtrl.getConversion()" />
            </div>
            <div class="row">
                <select kendo-drop-down-list
                        ng-model="ingredientConverterCtrl.selectedFromUom"
                        k-option-label="'Select measurement'"
                        k-data-text-field="'Literal'"
                        k-data-value-field="'ID'"
                        k-data-source="::ingredientConverterCtrl.uomsDataSource"
                        ng-change="ingredientConverterCtrl.getConversion()"></select>
            </div>
        </div>
        <div class="col-md-2 col-sm-2" ng-click="ingredientConverterCtrl.getConversion()">
            <img src="~/Content/equal-sign.png" class="conversion-separator center-block" alt="Equals" />
        </div>
        <div class="col-md-5 col-sm-5 ingredient-to">
            <div class="row">
                <input type="number" step="any" class="k-textbox" placeholder="Enter quantity" ng-model="ingredientConverterCtrl.toQuantity" ng-change="ingredientConverterCtrl.getOppositeConversion()" />
            </div>
            <div class="row">
                <select kendo-drop-down-list
                        ng-model="ingredientConverterCtrl.selectedToUom"
                        k-option-label="'Select measurement'"
                        k-data-text-field="'Literal'"
                        k-data-value-field="'ID'"
                        k-data-source="::ingredientConverterCtrl.uomsDataSource"
                        ng-change="ingredientConverterCtrl.getConversion()"></select>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/app/ingredientconverter-app.js")
    @Scripts.Render("~/scripts/app/common/models/uom-model.js")
    @Scripts.Render("~/scripts/app/common/models/conversion-model.js")
}